body {
  font-family: Arial, sans-serif;
  background-image: url(../img/ecosystem.png);
  background-repeat: no-repeat;       /* Evita que se repita */
  background-size: cover;             /* Ajusta a pantalla completa */
  background-position: center center; /* Centra la imagen */
  height: 110vh;                      /* Toda la pantalla */
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}


.form-container {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  width: 320px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #007bff;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

button:hover {
  background: #007bff;
}

p {
  margin-top: 15px;
  font-size: 14px;
}

a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
